.row
  .col-md-12
    %a{href: "/form"}
      .col-md-4
        .thumbnail
          %img{src: "/images/top/stamp.png"}
          .caption
            %h3
              Stamp
    %a{href: "/comic/form"}
      .col-md-4
        .thumbnail
          %img{src: "/images/top/comic.png"}
          .caption
            %h3
              Comic
